.titleHome {
  text-align: left;
  padding-bottom: 10px; }

  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px; }
    .homeGrid div {
      padding-top: 130px;
      padding-left: 70px;
      text-align: left;
      font-size: 18px; }
      .homeGrid img {
        border-radius: 10px; }
        .homeGrid h3 {
          margin: 0;
          padding-left: 5px;
          font-style: italic; }
          .homeGrid h1 {
            margin: 0;
            font-weight: bold;
            font-size: 2.8em;
            padding: 0; }

.home {
  padding-bottom: 50px; }

  .slideInSlideshow {
    position: absolute;
    height: auto;
    z-index: 0;
    justify-content: center; }

    .slideshow-button {
      position: absolute;
      z-index: 1;
      padding: 13px;
      padding-top: 20px;
      padding-bottom: 20px;
      fill: red; }
      .slideshow-button img {
        fill: red; }

.slideshow-button:hover img {
  color: red; }

#videoPreviewSection {
  display: flex;
  justify-content: space-between; }

.about {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .about div {
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    text-align: left; }
    .about div div {
      display: block;
      padding-left: 10px;
      padding-right: 10px; }

.footer {
  color: #f14e51;
  font-size: 20px; }

  .heading {
    text-align: left;
    font-size: 30px;
    padding-left: 20px; }

    .form div {
      padding-bottom: 10px; }

      .text_grid {
        display: flex;
        justify-content: center; }

        .text_grid input {
          width: 220px; }

          .text_grid input:first-child {
            margin-right: 20px; }

            .subject input, .textarea textarea {
              width: 460px; }

              input, textarea {
                background-color: #f14e51;
                border: 0px;
                padding: 10px;
                color: white;
                font-style: italic;
                font-size: 14px; }

                ::placeholder {
                  color: white;
                  text-decoration: none; }

                  input:focus {
                    font-style: normal; }

                    .submitButton {
                      text-align: left;
                      padding-left: 10px;
                      text-decoration: none; }

                      .fa {
                        padding: 20px;
                        font-size: 30px;
                        width: 50px;
                        text-align: center;
                        text-decoration: none; }

                        .fa:hover {
                          opacity: 0.7; }

                          .fa-facebook {
                            background: #3B5998;
                            color: white; }

                            .fa-twitter {
                              background: #55ACEE;
                              color: white; }

                              .fa-instagram {
                                background: #125688;
                                color: white; }

                                .fa-youtube {
                                  background: #bb0000;
                                  color: white; }

.headerBackground {
  background-color: #8bcfb6; }

  .header {
    padding: 0; }

    .current {
      text-decoration: underline; }

      #logo {
        padding-left: 20px;
        text-align: left;
        display: inline-block;
        background-color: #8bcfb6; }
        #logo a img {
          padding-right: 10px;
          background-color: #8bcfb6; }

.logoText {
  padding-top: 20px; }

  .valmynd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    .valmynd a {
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: center;
      font-size: 1.6em;
      text-align: center; }

.dropdownActivate {
  padding-top: 30px; }

  .mainLinks {
    background-color: #8bcfb6; }

    .mainLinks:hover {
      background-color: #7d3982; }

      .dropdown {
        position: absolute;
        display: none;
        justify-content: right;
        text-align: right;
        padding-top: 10px;
        background-color: #7d3982; }
        .dropdown a {
          font-size: 18px;
          padding: 0;
          padding-bottom: 10px; }

.dropdownActivate:hover .dropdown {
  margin-top: 10px;
  display: flex; }

  .dropdownActivate:hover {
    padding-bottom: 50px;
    color: red; }

    .hamburgerMenu {
      display: none; }

      .hamburgerDropdown {
        display: none;
        text-align: left;
        font-size: 1.4em;
        padding-left: 40px; }
        .hamburgerDropdown a {
          display: block;
          padding-top: 10px; }

.hamburgerDropdownDropdown {
  display: none; }
  .hamburgerDropdownDropdown dl {
    margin: 0; }

@media screen and (max-width: 1274px) {
  #logo a:nth-child(2) {
    display: none;   }
}

@media screen and (max-width: 900px) {
  .valmynd {
    display: flex;
    justify-content: space-between;   }
    .mainLinks {
      display: none;   }
      .hamburgerMenu {
        text-align: right;
        display: block;
        padding-right: 20px;
        padding-top: 10px;   }
}

body {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-family: "Arial"; }

  header, main {
    background-color: #f14e51; }

    main {
      min-height: 800px; }

      footer {
        padding-top: 10px;
        padding-bottom: 10px; }

        article {
          padding: 10px;
          margin: 0 auto;
          max-width: 1448px; }

          a {
            color: white;
            text-decoration: none; }

            a:active {
              text-decoration: underline; }

.project {
  padding: 0;
  padding-right: 70px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .project div {
    padding-bottom: 20px; }

.projectsText {
  text-align: left; }
  .projectsText h2 {
    margin-top: 0; }

@media screen and (max-width: 900px) {
  .project div:nth-child(odd) {
    display: block;   }
    .project div:nth-child(odd) img {
      width: 100%;
      height: auto;   }
  .project div:nth-child(even) {
    display: none;   }
}
