@import "var.scss";

.headerBackground{
    background-color: $third;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;

    font-size: 24px;
    div:first-child {
        display: flex;
    }
}

.current {
    text-decoration: underline;
}

.logo {
    text-align: left;
    display: inline-block;
    a img {
        padding-right: 10px;
    }
}

.logoText {
    padding-top: 20px;
}

.valmynd {
    display: block;
}

.mainValmynd {
    display: flex;
    padding-top: 20px;
    justify-content: right;
    a {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.dropdown {
    position: absolute;
    display: none;
    justify-content: center;
    text-align: right;
    padding-top: 10px;
    a {
        font-size: 18px;
        padding-right: 20px;
        display: flex;
    }
}

.dropdownActivate:hover .dropdown {
    display: flex;
    margin-left: 10px;
}

.dropdownActivate:hover {
    color: red;
}