@import "var.scss";

.header {
    display: grid;
    grid-template-columns: 1fr 3fr;

    font-size: 24px;
}

.header div {
    display: flex;
}

.header div img {
    padding-right: 10px;
}

.header div:first-child {
    text-align: left;
}

.header div:last-child {
    justify-content: right;
}

.header div:last-child p {
    padding-left: 25px;
    padding-right: 25px;
}

.header div:last-child p:first-child {
    padding-right: 20px;
}

.header div:last-child p:first-child a:hover {
    text-decoration: none;
}

.current {
    text-decoration: underline;
}