@import "var.scss";

.titleHome {
    position: absolute;
    text-align: left;
    padding-bottom: 10px;
    h3 {
        margin: 0;
        padding-left: 5px;
        font-style: italic;
    }
    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 3.8em;
    }
}

.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    div {
        padding-top: 130px;
        padding-left: 100px;
        text-align: left;
        font-size: 18px;
        p {
            padding-top: 80px;
        }
    }
    img {
        border-radius: 10px;
    }
}

.home {
    padding-bottom: 50px;
}

.moreHome {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    top: 29em;
    left: 47%;
    background-color: $secondary;
    color: $primary;
    border-radius: 5px;
}