body {
    text-align: center;
    color: white;
    margin: 0 auto;

    font-family: "Arial";
}

header, main {
    background-color: #F7524C;
}

main {
    min-height: 35em;
}

header, footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    padding: 10;
    margin: 0 auto;
    max-width: 960px;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

