<article class="header">
    <div class="">
        <nav class="valmynd">
            <div id="logo">
                <a class="logoImage" href="{{ url_for('home') }}"><img src="/static/pictures/logo/HL_Whole.png" alt="Logo" width="70" height="70"></a>
                <a class="logoText" href="{{ url_for('home') }}">
                    <img src="/static/pictures/logo/texti_PR_shade.png" alt="Logo" width="140" height=auto>
                </a>
            </div>
            <!--<p class="seperator">/ / /</p>-->
            <a class="mainLinks interface" href="{{ url_for('home') }}">Helluland</a>
            <div class="mainLinks dropdownActivate">
                <a onclick="toggleDropdown()" id="dropdownParent" class="interface">Verkefni <span style="font-size: 20px;">v</span></a>
                    <nav id="dropdown" class="dropdown">
                        <a class="interface dropdownLinks" href="{{ url_for('projects', media='shortMovies') }}">Stuttmyndir</a>
                        <a class="interface dropdownLinks" href="{{ url_for('projects', media='music') }}">Tónlist</a>
                        <a class="interface dropdownLinks" href="{{ url_for('projects', media='podcasts') }}">Hlaðvörp</a>
                        <a class="interface dropdownLinks" href="{{ url_for('projects', media='comingSoon') }}">Væntanlegt</a>
                    </nav>
            </div>
            <a class="mainLinks interface" href="{{ url_for('gallery') }}">Gallery</a>
            <a class="mainLinks interface" href="{{ url_for('about') }}">Um okkur</a>
            <script text="text/javascript" src="/static/scripts/dynamicDropDown.js"></script>
            <script>
                window.onload = function() {
                    resizeDropDown();
                }
            </script>
            
            <div class="hamburgerMenu" onclick="hamburgerClick()">
                <img src="/static/pictures/icons/menu.svg" height="50px" width="auto" >
            </div>
            <script src="/static/scripts/viewing.js"></script>
        </nav>


        <div id="hamburgerDropdown" class="hamburgerDropdown">
            <a  href="{{ url_for('home') }}">Helluland</a>
            <div dropdownActivate>
                <a id="dropdownParent" onclick="hamburgerDropdownVerkefni()">Verkefni</a>
                <nav id="hamburgerDropdownDropdown" class="hamburgerDropdownDropdown">
                    <dl>
                        <dd><a href="{{ url_for('projects', media='shortMovies') }}">- Stuttmyndir</a></dd>
                        <dd><a href="{{ url_for('projects', media='music') }}">- Tónlist</a></dd>
                        <dd><a href="{{ url_for('projects', media='podcasts') }}">- Hlaðvörp</a></dd>
                        <dd><a href="{{ url_for('projects', media='comingSoon') }}">- Væntanlegt</a></dd>
                    </dl>
                </nav>
            </div>
            <a href="{{ url_for('gallery') }}">Gallery</a>
            <a href="{{ url_for('about') }}">Um okkur</a>
        </div>
        <script type="text/javascript" src="/static/scripts/hamburgerDropdown.js"></script>
    </div>
</article>