{% extends "base.html" %}

{% block content %}
<article class="home">
    <section class="homeGrid" style="display: none;">
        <div>
            <h3>/ / / Nýjasta verkefnið</h3>
            <h1> GLEÐIPAKKINN </h1>
            <p>Gleðipakkinn er fyrirtæki sem selur gleði í pakka. Eftir að Arna kemur
                yfir Gleðipakka kynnist hún yfirnáttúrulegu eiginleikum hans.
                <br>
                Directed by Gabríel Elí<br>
                Written by Gabríel Elí & Einar Karl<br>
                Produced by Brynjar Leó & Camilla Hjördís

            </p>
        </div>
        <a href="/projects/shortMovies/glethiPakkinn"><img src="/static/pictures/shortMovies/glethiPakkinn.jpg" width=400 height=600></a>
    </section>
    <section>
        {% for picture in slideshowPics %}
        <div class="slideInSlideshow" style="display: none;">
            <img src="{{ picture }}" width=100% height=100%>
        </div>
        {% endfor %}
        <button id="button-right" class="slideshow-button" 
            onclick="showNextPrevSlide(1)">
            <span>></span>
        </button>
        <button id="button-left" class="slideshow-button"
            onclick="showNextPrevSlide(-1)">
            <span><</span>
        </button>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/slideshow.js') }}"></script>
        <script>
            window.onload = function() {
                resizeButtons();
            }
        </script>
    </section>
</article>
{% endblock %} 
