{% extends "base.html" %}

{% block content %}
<article class="home">
    <section class="titleHome">
        <h3>/ / / Nýjasta verkefnið</h3>
        <h1> GLEÐIPAKKINN </h1>
    </section>
    <section class="homeGrid">
        <div>
            <p>Gleðipakkinn er fyrirtæki sem selur gleði í pakka. Eftir að Arna kemur
                yfir Gleðipakka kynnist hún yfirnáttúrulegu eiginleikum hans.
                <br>
                Directed by Gabríel Elí<br>
                Written by Gabríel Elí<br>
                & Einar Karl<br>
                Produced by Brynjar Leó<br>
                & Camilla Björdís

            </p>
        </div>
        <img src="/static/pictures/glethiPakkinn.jpg" width=400 height=600>
    </section>
    <a class="moreHome">/// Meira</a>
</article>
{% endblock %} 