{% extends "base.html" %}

{% block content %}
<article>
    <h1> {{ displayMedia }} </h1>
    <main class="project">
        {% for project in projects %}
            <div>
                <img src="/static/pictures/shortMovies/{{project}}.jpg", width=200, height=300> 
            </div>
            <div class="projectsText">
                {% include "/projects/"+media+"/"+project+".tpl" %}
                <a href="{{ url_for('project', media=media, name=project) }}"><h3>Nánar</h3></a>
            </div>
        {% endfor %}
    </main>
</article>
{% endblock %} 