@import "var.scss";

.headerBackground{ background-color: $third; }

/*
.header {
    display: grid;
    grid-template-columns: 1fr 3fr;

    font-size: 24px;
    div:first-child { display: flex; }
}
*/

.header {
    padding: 0;
}

.current { text-decoration: underline; }

#logo {
    padding-left: 20px;
    text-align: left;
    display: inline-block;
    background-color: $third;
    a img { 
        padding-right: 10px; 
        background-color: $third;

    }
}

.logoImage img { padding-top: 5px; }

.logoText { padding-top: 0; }

.valmynd { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    a {
        padding-top: 35px;
        padding-bottom: 30px;
        justify-content: center;
        font-size: 1.6em;
        text-align: center;
    }
}

.dropdownActivate {
    padding-top: 35px;
}

.mainLinks {
    background-color: $third;
}

.mainLinks:hover {
    background-color: $fourth;
}

.dropdown {
    display: none;
    position: absolute;
    justify-content: right;
    text-align: center;
    padding-top: 10px;
    background-color: $fourth;
    z-index: 1;
    a {
        text-align: center;
        display: block;
        z-index: 23;
        font-size: 20px;
        padding: 0;
        padding-bottom: 10px;
    }
}

.verkefniLinkActive {
    background-color: $fourth;
}

.dropdownAnimation {
    display: block;
}

.dropdownActivate:hover {
    cursor: pointer;
}

.hamburgerMenu {
    display: none;
}

.hamburgerDropdown {
    display: none;
    text-align: left;
    font-size: 1.4em;
    padding-left: 40px;
    a {
        display: block;
        padding-top: 10px;
    }
}
.hamburgerDropdownDropdown {
    display: none;
    dl {
        margin: 0;
    }
}

@media screen and (max-width: 1290px) {

    #logo a:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .valmynd {
        display: flex;
        justify-content: space-between;
    }

    .mainLinks {
        display: none;
    }
    .hamburgerMenu {
        text-align: right;
        display: block;
        padding-right: 20px;
        padding-top: 10px;
    }
}