@import "var.scss";

.headerBackground{ background-color: $third; }

/*
.header {
    display: grid;
    grid-template-columns: 1fr 3fr;

    font-size: 24px;
    div:first-child { display: flex; }
}
*/

.header {
    padding: 0;
}

.current { text-decoration: underline; }

#logo {
    text-align: left;
    display: inline-block;
    background-color: $third;
    a img { 
        padding-right: 10px; 
        background-color: $third;
    }
}

.logoText { padding-top: 20px; }

.valmynd { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    a {
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: center;
        font-size: 1.5em;
        text-align: center;
    }
}

.dropdownActivate {
    padding-top: 30px;
}

.mainLinks:nth-child(odd) {
    background-color: $third;
    
}
.mainLinks:nth-child(odd):hover {
    color: $fourth;
}

.mainLinks:nth-child(even) {
    background-color: $fourth;
}
.mainLinks:nth-child(even):hover {
    color: $third;
}

.dropdown {
    position: absolute;
    display: flex;
    justify-content: right;
    text-align: right;
    padding-top: 20px;
    background-color: none;
    a {
        font-size: 18px;
        padding: 0;
        padding-bottom: 10px;
    }
}

/*
.dropdownLinks:nth-child(even) {
    background-color: $third;
    
}
.dropdownLinks:nth-child(even):hover {
    color: $fourth;
}

.dropdownLinks:nth-child(odd) {
    background-color: $fourth;
}

.dropdownLinks:nth-child(odd):hover {
    color: $third;
}
*/

.dropdownActivate:hover .dropdown {
    display: flex;
}

.dropdownActivate { 
    padding-bottom: 70px;
    color: red; 
}