@import "var.scss";

.titleHome {
    text-align: left;
    padding-bottom: 10px;
}

.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    div {
        padding-top: 130px;
        padding-left: 70px;
        text-align: left;
        font-size: 18px;
    }
    img {
        border-radius: 10px;
    }
    h3 {
        margin: 0;
        padding-left: 5px;
        font-style: italic;
    }
    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 2.8em;
    }
}

.home {
    padding-bottom: 50px;
}

.moreHome {
    position: absolute;
    font-size: 20px;
    padding: 5px;
    top: 29em;
    left: 47%;
    background-color: $secondary;
    color: $primary;
    border-radius: 5px;
}

.slideInSlideshow {
    position: absolute;
    width: 90%;
    height: auto;
    z-index: 0;
}

.slideshow-button {
    position: absolute;
    z-index: 1;
    padding: 10px;
}

$positioning_button: 480px;
.button-right {
    margin-left: $positioning_button;
}

.button-left {
    margin-right: $positioning_button;
}