@import "var.scss";

body {
    text-align: center;
    color: $secondary;
    margin: 0 auto;

    font-family: $font;
}

header, main {
    background-color: $primary;
}

main {
    min-height: 1200px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    padding: 10;
    margin: 0 auto;
    max-width: 90%;
}

a {
    color: $secondary;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

