.project {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;

    div {
        padding-bottom: 20px;
    }
}

.projectsText {
    text-align: left;
    h2 {
        margin-top: 0;
    }
}


@media screen and (max-width: 900px) {
    .project {
        display: block;
        text-align: center;
    }

    .project div:nth-child(odd){
        text-align: center;
        justify-content: center;
        display: block;
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .project div:nth-child(even) {
        display: none;
    }
}